 {% extends 'base.twig' %}
{% block content %} 
<form id="login-form">   
  <label>Email</label>
  <input type="email" name="email" required>
  <span class="error"></span>  
   
  <label>Password</label> 
  <input type="password" name="password" required> 
  <span class="error"></span>

  <button type="submit">Login</button>
</form>
<div id="toast"></div>
{% endblock %}{% extends 'base.twig' %} 
{% block content %}
<form id="login-form">
  <label>Email</label>
  <input type="email" name="email" required>
  <span class="error"></span>

  <label>Password</label>
  <input type="password" name="password" required>
  <span class="error"></span>

  <button type="submit">Login</button>
</form>
<div id="toast"></div>
{% endblock %}
